@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 10px;
  background: #EDEEF0;
}


h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

#logo {
  font-size: 18px;
  font-weight: 700;
  color: #F05136;
  margin-right: auto;
  cursor: pointer;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding: 2px;
  margin: 2px;
}

.nav-links a:hover {
  color: #F05136;
}

#home {

  background: url(../img/bg.svg);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 20px 0;
  justify-content: center;
}

#bio {
  align-items: center;
  height: 500px;
  text-align: center;
}

#bio img {
  width: 150px;
  height: 150px;
  border-radius: 50%;

}

#bio article p {
  padding: 10px 0;
}

p {
  font-size: 1.5em;
}

.link-button {
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.5px;
  background: #F05136;
  color: white;
  font-size: 1.8em;
  border-radius: 5%;
  cursor: pointer;
  border-color: black;
  padding: 10px;
  font-weight: 100;
}

#portfolio {
  background: url(../img/bg.svg);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  text-align: center;
  margin: 20px 0;
}

#portfolio hr {

  width: 200px;
  margin: 20px auto;
}

#portfolio div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 50px;
  width: 100%;
  margin: 10px 0;
}

#portfolio div article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  border-radius: 10px;
  height: 200px;
  width: 250px;
}

#portfolio {
  padding-top: 20px;
}

#portfolio div article p, img {
  text-align: center;
  padding: 20px 5px 0 5px;
}

.portfolio-icon {
  font-size: 3em;
  color: #F05136
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}
#skills {
  height: 500px;
  display: flex;
  justify-content: center;
}
#skills ul {
  list-style: none;
  font-size: 1.5em;
}

#skills ul li {
  margin: 10px 0;
}

progress[value] {
  height: 10px;
  width: 350px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: grey;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

::-webkit-progress-value {
  background-color: #F05136;
}

#contact {
  height: 500px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  line-height: 3em;
  min-width: 300px;
  border-radius: 5px;
  border-color: black;
  margin: 10px 0;
}

#contact form input:last-child {
  margin-top: 10px;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}